/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
	overflow-y: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Extension specific styling */

*{
    color: #fff;
	text-align: center;
	font-family: "IBM Plex Mono", monospace;
}

button{
	background-color: #484854;
	color: #fff;
	border: none;
	border: 1px solid #484854;
	font-size: 0.7rem;
}

button:hover{
	background-color: #5c5c6a;
}

button:active{
	background-color: #1b1b21;
}

input{
	color: #000;
}

.main{
    width: fit-content;
	max-height: 450px;
	max-width: 450px;
    background-color: #181a19;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    text-align: center;
	margin-top: 60px;
	font-size: 0.75rem;
}

.time{
	padding-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.time > input {
	background-color: #23222b;
	color: #fff;
	border: 1px solid #4e4d54;
}

.time > input:hover {
	cursor: text;
}

button{
	padding: 5px 2.5px;
}

button:hover{
	cursor: pointer;
}

.options{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.days-list{
	display: flex;
	gap: 4px;
}

.days{
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.days > p {
	text-align: left;
}

.error{
	color: #800000;
}

.submit-link-container{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	font-size: 1rem;
	padding: 5px 10px;
}

.submit-link-container button{
	flex: 0.5;
}

.submit-link-container input{
	text-align: left;
	flex: 2;
	padding: 5px 2.5px;
}

.line{
	border-top: 1px solid #ffff;
}

.link-list{
	height: 100px;
	overflow-y: scroll;
	padding: 5px 10px;
}

.link-list > * {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.link-container{
	flex: 2;
}

.remove-button{
	font-size: 1rem;
	flex: 0.5;
}

.bottom{
	padding-top: 10px;
	width: 100%;
}

.active{
	background-color: #17161b;
	border: 1px solid #0085f2;
}

.activate-button{
 padding: 10px 5px;
 font-size: 1.5rem;
}

.activate-button-container{
	padding-top: 10px;
}